@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
/* import 'tailwindcss'; */
/* @import 'tailwindcss'; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(211, 170, 119);
}

body {
  font-family: Inter;
}

@layer utilities {
  /* FONTS */
  .small-16 {
    @apply text-[16px] font-[500] leading-[28px];
  }

  .regular-16 {
    @apply text-[16px] font-[700] leading-[28px];
  }

  .small-24 {
    @apply text-[24px] font-[500] leading-[32px];
  }

  .medium-24 {
    @apply text-[24px] font-[700] leading-[32px];
  }

  .regular-24 {
    @apply text-[24px] font-[800] leading-[32px];
  }

  .regular-32 {
    @apply text-[32px] font-[800] leading-[32px];
  }

  .small-28 {
    @apply text-[28px] font-[500] leading-[28px];
  }

  .regular-48 {
    @apply text-[48px] font-[800] leading-[56px];
  }

  .regular-60 {
    @apply text-[60px] font-[700] leading-[56px];
  }
  .regular-64 {
    @apply text-[64px] font-[800] leading-[72px];
  }
}

/* body{
  background-color: rgb(211, 170, 119);
} */

/* #post{
  background-color: rgb(255, 164, 99) ;
}

#form{
  background-color: rgb(173, 106, 58) ;
} */

/* body {
  background-color: grey;
}



body {
  display: block;
}

#app{ 
  border: 2px blue dotted;
  width: 50%;
  margin: 30px 50px ;
} */
/* 
#section div {
  border: 2px red dotted;
  margin: 30px 50px ;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
